<div class="my-auto" style= "background-image: url('https://images.unsplash.com/photo-1517770413964-df8ca61194a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');background-size: cover; height: 100vh;">
<br>
<br>
<br>
<br>
<br>
<div class="container">
<br />
<center>
  <div class="row">
  <div class="card col" style="width: 33rem;">
    <div class="card-body">
      <center><h3><b>Mes livres prêtés</b></h3></center>

      <ul class="list-group list-group-flush gugu">
        <% @book_copy_not_available_tab.each {|n| %>
        <li class="list-group-item"><b><%="#{n.title}"%></b> <br /> <%=" #{n.author}"%>
        <br>
        <%= link_to "Livre recupéré", bookcopy_borrow_path(n.id, n.borrow_status_2?.last.id,:bouton_value => 2), method:"patch", class: "btn btn-success btn-round btn-small btn-sm"%>
        <%= link_to "Demander retour", user_dashboard_path(current_user.id, n.id), method:"patch", class: "btn btn-danger btn-round btn-sm" %>
        <%= link_to "Detail", bookcopy_borrow_path(n.id,n.borrow_status_2?.last.id), class: "btn btn-primary btn-round btn-sm"%>

        </li>
        <% } %>
      </ul>
    </div>

  </div>
  <div class="col-1">

  </div>

    <div class="card col" style="width: 33rem;">
      <div class="card-body">
        <center><h3><b>Demandes de prêts</b></h3></center>
        <ul class="list-group list-group-flush gugu">
          <% @ask_book_tab.each {|n| %>
          <li class="list-group-item"><b><%= BookCopy.find(n.book_copy_id).title %></b> <br> <%="Demandé par: #{User.find(n.user_id).first_name}"%> | Jusqu'au : <%="#{n.end_date.strftime('%d %b %Y')}"%>
            <br>
            <%= link_to "Accepter", bookcopy_borrow_path(n.book_copy_id,n.id, :bouton_value => 1), method:"patch", class: "btn btn-success btn-round btn-sm"%>
            <%= link_to "Refuser", bookcopy_borrow_path(n.book_copy_id,n.id, :bouton_value => 0), method:"patch",class: "btn btn-danger btn-round btn-sm"%>
            <%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id),class: "btn btn-primary btn-round btn-sm" %>
          </li>
          <% } %>
        </ul>
      </div>



    </div>
  </div>
  <div class="row">

  <div class="card col" style="width: 33rem;">
    <div class="card-body">
      <center><h3><b>Mes emprunts</b></h3></center>
    </div>
    <ul class="list-group list-group-flush gugu">
      <% @book_I_borrow_tab.each {|n| %>
      <li class="list-group-item"><b><%= BookCopy.find(n.book_copy_id).title %></b> <br><%=" Jusqu'au: #{n.end_date.strftime('%d %b %Y')}"%>
      <br />
      <%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id), class:"btn btn-primary btn-sm btn-round"%>
      <% } %>
      <% @book_I_borrow_recup_tab.each {|n| %>
      <li class="list-group-item"> <b><%= BookCopy.find(n.book_copy_id).title %></b> <br><%=" Deadline: #{n.end_date.strftime('%b %d %Y')}"%>
        <br />
        <%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id), class: "btn btn-primary btn-sm btn-round"%>
      <% } %>

    </ul>
  </div>

  <div class="col-1">
  </div>

  <div class="card col" style="width: 33rem;">
    <div class="card-body">
      <center><h3><b>Mes demandes d'emprunts</b></h3></center>
    </div>
    <ul class="list-group list-group-flush gugu">
      <% @book_asked_to_borrow.each {|n| %>
      <li class="list-group-item"><b><%= BookCopy.find(n.book_copy_id).title %></b>   <br>
        <%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id), class: "btn btn-primary btn-sm btn-round"%>
      </li>

      <% } %>
    </ul>
  </div>

  </div>
  </center>
  </div>
</div>
