
<div class="container">

  <h1><%= @user.first_name%></h1>

<center>
  <div class="card" style="width: 33rem;">
    <div class="card-body">
      <center><h4>Mes livres prêté</h4></center>
    </div>
    <ul class="list-group list-group-flush">
      <% @book_copy_not_available_tab.each {|n| %>
      <li class="list-group-item"><%="#{n.title}"%> de <%=" #{n.author}"%>
      <br>
      <button type="button" class="btn btn-primary">Demander retour</button>
      <button type="button" class="btn btn-primary" ><%= link_to "Detail", bookcopy_borrow_path(n.id,Borrow.where(["book_copy_id = ? and borrow_status = ?",n.id, 2]).last.id)%></button>
      <button type="button" class="btn btn-primary"><%= link_to "Livre recupere", bookcopy_borrow_path(n.id, Borrow.where(["book_copy_id = ? and borrow_status = ?",n.id, 2]).last.id,:bouton_value => 2), method:"patch"%></button>

      </li>
      <% } %>
    </ul>
  </div>

  <div class="card" style="width: 33rem;">
    <div class="card-body">
      <center><h4>Demandes de prêt reçu</h4></center>
    </div>
    <ul class="list-group list-group-flush">
      <% @ask_book_tab.each {|n| %>
      <li class="list-group-item"><%= BookCopy.find(n.book_copy_id).title %> | <%="Emprunté par: #{User.find(n.user_id).first_name}"%> | <%=" Deadline: #{n.end_date.strftime('%b %d %Y')}"%>
        <br>
        <button type="button" class="btn btn-primary"><%= link_to "Accepter", bookcopy_borrow_path(n.book_copy_id,n.id, :bouton_value => 1), method:"patch"%></button>
        <button type="button" class="btn btn-primary" ><%= link_to "Refuser", bookcopy_borrow_path(n.book_copy_id,n.id, :bouton_value => 0), method:"patch"%></button>
        <button type="button" class="btn btn-primary" ><%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id)%></button>
      </li>
      <% } %>
    </ul>


  </div>
  <div class="card" style="width: 33rem;">
    <div class="card-body">
      <center><h4>Mes emprunts en cours..</h4></center>
    </div>
    <ul class="list-group list-group-flush">
      <% @book_I_borrow_tab.each {|n| %>
      <li class="list-group-item"><%= BookCopy.find(n.book_copy_id).title %> | <%=" Deadline: #{n.end_date.strftime('%b %d %Y')}"%>
        <button type="button" class="btn btn-primary" ><%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id)%></button>
      <% } %>
      <% @book_I_borrow_recup_tab.each {|n| %>
      <li class="list-group-item"><%= BookCopy.find(n.book_copy_id).title %> | <%=" Deadline: #{n.end_date.strftime('%b %d %Y')}"%>
        <button type="button" class="btn btn-primary" ><%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id)%></button>
      <% } %>

    </ul>
  </div>

  <div class="card" style="width: 33rem;">
    <div class="card-body">
      <center><h4>Mes demandes d'emprunt en cours..</h4></center>
    </div>
    <ul class="list-group list-group-flush">
      <% @book_asked_to_borrow.each {|n| %>
      <li class="list-group-item"><%= BookCopy.find(n.book_copy_id).title %>   <br>
        <button type="button" class="btn btn-primary" ><%= link_to "Detail", bookcopy_borrow_path(n.book_copy_id,n.id)%></button>
 </li>

      <% } %>
    </ul>
  </div>
  </center>
  </div>
