<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <center>
<div class="card text-center mt-5" style="width: 30rem;" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut <%= @borrower.first_name %></h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
      Ta demande d'emprunt a été acceptée par <%=@owner.first_name%> !! :D
      Maintenant il ne te reste plus qu'à envoyer un message ou un texto pour vous donner rendez-vous !! :D Bon échange :)
    </h4>

    <br><br><br>

    <p class="card-text">
      Pour retrouver les informations de cet emprunt, tu peux suivre ce lien
    </p>
    <%= link_to "Detail de l'emprunt", bookcopy_borrow_url(@borrow.book_copy_id,@borrow.id), class: "btn btn-primary btn-round btn-lg"%>

    <br><br><br>

    <h3 class="card-text">
      Voici les informations concernant <%=@owner.first_name%>
    </h3>

    <div class="info info-horizontal">
      <div class="content-center">
        <div class="photo-container">
          <% if @owner.avatar.attached? %>
            <%= image_tag @owner.avatar, class:"img-fluid", style:"max-width: 200%;" %>
          <% else %>
            <%= image_tag("sharespeare1.png", class:"img-fluid") %>
          <% end %>
        </div>
     </div>
      <div class="description">
          <h4 class="info-title">Contact</h4>
          <p>  <%=@owner.first_name%>    <%=@owner.last_name%>
              <br>  Tel: <%=@owner.phone%>
              <br>  @: <%=@owner.email%>
              <br>  Ville: <%=@owner.city%>
              <br>  zip_code: <%=@owner.zip_code%>
          </p>
      </div>
    </div>
  </div>
</div>
</center>
</body>
</html>
