<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <center>

<div class="card text-center mt-5" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut <%= @owner.first_name %></h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
      Tu as reçu une nouvelle demande d'emprunt de la part de <%= @borrower.first_name %> ! :D
    </h4>
    <br><br>
    <h3> Message de <%= @borrower.first_name %> : </h3>
    <h4>
      <i> "<%= @borrow.message %>" </i>
    </h4>

    <br><br><br>

    <p class="card-text">
      Pour retrouver les informations de cet emprunt, tu peux suivre ce lien
    </p>
    <%= link_to "Detail de l'emprunt", bookcopy_borrow_url(@borrow.book_copy_id,@borrow.id), class: "btn btn-primary btn-round btn-lg"%>

    <br><br><br>

    <h3 class="card-text">
      Voici les informations concernant <%=@borrower.first_name%>
    </h3>
    <div class="info info-horizontal">
      <div class="content-center">
        <div class="photo-container">
          <% if @borrower.avatar.attached? %>
            <%= image_tag @borrower.avatar, class:"img-fluid", style:"max-width: 200%;" %>
          <% else %>
            <%= image_tag("sharespeare1.png", class:"img-fluid") %>
          <% end %>
        </div>
      </div>
      <div class="description">
          <h4 class="info-title">Contact</h4>
          <p>  <%=@borrower.first_name%>    <%=@borrower.last_name%>
              <br>  Tel: <a href="<%=@borrower.phone%>"><%=@borrower.phone%></a>

              <br>  @: <a href="<%=@borrower.email%>"><%=@borrower.email%></a>
              <br>  Ville: <%=@borrower.city%>
              <br>  zip_code: <%=@borrower.zip_code%>
          </p>
      </div>
    </div>
  </div>
</div>
</center>
</body>
</html>
