<div class="card text-center mt-5" style="width: 30rem;" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut <%= @borrower.first_name %></h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
      Ta demande d'emprunt a été acceptée par <%=@owner.first_name%>
    </h4>
    <p class="card-text">
      Pour retrouver les informations de cet emprunt, tu peux suivre ce lien
    </p>
    <%= link_to "Detail de l'emprunt", bookcopy_borrow_url(@borrow.book_copy_id,@borrow.id), class: "btn btn-primary btn-round btn-lg"%>

    <p class="card-text">
      Voici les informations concernant <%=@owner.first_name%>
    </p>

    <div class="info info-horizontal">
      <div class="icon icon-primary">
          <i class="business_briefcase-24 now-ui-icons"></i>
      </div>
      <div class="description">
          <h4 class="info-title">Contact</h4>
          <p>  <%=@owner.first_name%>    <%=@owner.last_name%>
              <br>  Tel: <%=@owner.phone%>
              <br>  @: <%=@owner.email%>
              <br>  Ville: <%=@owner.city%>
              <br>  Rue: <%=@owner.street%>
          </p>
      </div>
    </div>
  </div>
</div>