<%= render 'big_search_form' %>
<div class="section section-about-us">
	<div class="row">
		<div class="col-md-8 ml-auto mr-auto text-center">
			<%= image_tag("logo.png", size: "70x70") %>
			<h2 class="title">ShaRespeare vous permet de partager le plaisir de lire autour de vous.<br> Prêtez, Empruntez, Rencontrez...</h2>
		</div>
	</div>
	<div class="projects-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 px-0">
					<div class="card card-fashion card-background" style="background-image: url(<%= asset_path 'biblio.png' %>)">
						<div class="card-body">
							<div class="card-title text-left">
								<h1>1</h1>
								<h2><b>Ajoutez</b> vos livres sur ShaRespeare !</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 px-0">
					<div class="card card-fashion">
						<div class="card-title">
							<h4>Répertoriez vos livres dans votre <b>bibliothèque en virtuelle</b>, et <b>partagez-les </b> !</h4>
						</div>
					</div>
				</div>
				<div class="col-md-3 px-0">
					<div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1561379982-c9f0e54ff067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 px-0">
					<div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1525696349533-cfd38bf00f0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')"></div>
				</div>
				<div class="col-md-3 px-0">
					<div class="card card-fashion arrow-left">
						<div class="card-title">
							<h4><b>Explorez nos recommendations</b> autour de chez vous, chez vos amis ou cherchez directement dans la barre de recherche !</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 px-0">
					<div class="card card-fashion card-background" style="background-image: url(<%= asset_path 'reco.png' %>)">
						<div class="card-body">
							<div class="card-title text-left">
								<h1>2</h1>
								<h2><b>Explorez</b> et Trouvez votre prochaine lecture dans votre <b>quartier</b> , chez vos <b>amis</b> !</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 px-0">
					<div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
						<div class="card-body">
							<div class="card-title text-left">
								<h1>3</h1>
								<h2><b>Rencontrez</b>, Echangez et Empruntez un livre !</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 px-0">
					<div class="card card-fashion">
						<div class="card-title">
							<h4>Une <b>prise de contact simplifié</b> avec des lecteurs passionné. <b>À vous de vous rencontrer !</b></h4>
						</div>
					</div>
				</div>
				<div class="col-md-3 px-0">
					<div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1459369510627-9efbee1e6051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 px-0">
					<div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1525696349533-cfd38bf00f0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')"></div>
				</div>
				<div class="col-md-3 px-0">
					<div class="card card-fashion arrow-left">
						<div class="card-title">
							<h4>Ne cherchez plus où sont passés vos livres ! La section <b>"Tableau de Bord"</b> vous permet de savoir à qui et quand vous avez prêté un livre. Nous vous <b>informerons par mail</b> de toute l'actualité de vos livres.</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 px-0">
					<div class="card card-fashion card-background" style="background-image: url(<%= asset_path 'gerer.png' %>)">
						<div class="card-body">
							<div class="card-title text-left">
								<h1>4</h1>
								<h2><b>Gérez</b> vos prêts et vos emprunts sans soucis !</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container text-center">
	<h2> Nous fonctionnons grâce à vos dons</h2>
	<p>
		<b><b>ShaRespeare</b> c'est <b>100% gratuit</b> : Nous souhaitons permettre au plus grand nombre de pouvoir découvrir de nouvelles lectures à travers notre communauté.
		Mais nous devons supporter les <b>coûts de fonctionnements</b> (serveurs et services).<br><b>Merci pour votre participation :-)</b>
	</p>

	<!-- bouton don -->
	<div class="container">
		<div class="row justify-content-md-center">
			<%= link_to "Soutenir ShaRespeare.fr", "https://paypal.me/pools/c/8lQxWDyKwS", method: :get, class: 'btn btn-default btn-round shopping_credit-card btn-lg'  %>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card card-testimonial">
				<div class="card-avatar">
					<a href="#pablo">
						<%= image_tag("james.jpg", class:"img img-raised") %>
					</a>
				</div>
				<div class="card-body">
					<p class="card-description">
						Découvrir des livres autour de chez soi tout en rencontrant de nouvelles personnes.. Merci
					</p>
				</div>
				<div class="icon icon-primary">
					<i class="fa fa-quote-right"></i>
				</div>
				<div class="card-footer">
					<h4 class="card-title">James</h4>
					<p class="category">@james</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card card-testimonial">
				<div class="card-avatar">
					<a href="#pablo">
						<%= image_tag("emilyz.jpg", class:"img img-raised") %>
					</a>
				</div>
				<div class="card-body">
					<p class="card-description">
						Passionnant de discuter autour d'un café avec d'autres lecteurs
					</p>
				</div>
				<div class="icon icon-primary">
					<i class="fa fa-quote-right"></i>
				</div>
				<div class="card-footer">
					<h4 class="card-title">Emilie</h4>
					<p class="category">@Emilie</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card card-testimonial">
				<div class="card-avatar">
					<a href="#pablo">
						<%= image_tag("lucas.png", class:"img img-raised") %>
					</a>
				</div>
				<div class="card-body">
					<p class="card-description">
						Application très sympathique pour échanger avec ses amis ses Lectures
					</p>
				</div>
				<div class="icon icon-primary">
					<i class="fa fa-quote-right"></i>
				</div>
				<div class="card-footer">
					<h4 class="card-title">Lucas</h4>
					<p class="category">@lucas</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="team-5 section-image" style="background-image: url('https://images.unsplash.com/photo-1509021436665-8f07dbf5bf1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80')">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-center">
				<h2 class="title">Notre Équipe</h2>
				<h4 class="description">Voici l'équipe de ShaRespeare</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="card card-profile">
					<div class="card-avatar">
						<%= image_tag("Arthur.jpg", class:"img img-raised") %>
					</div>
					<div class="card-body">
						<h3 class="card-title">Arthur Wilbrod</h3>
						<h6 class="category text-primary">Créateur</h6>
						<p class="card-description">
							<b>L'amour ne voit pas avec les yeux, mais avec l'âme. <br> <i>shakespeare</i></b>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card card-profile">
					<div class="card-avatar">
						<%= image_tag("Flip.png", class:"img img-raised") %>
					</div>
					<div class="card-body">
						<h3 class="card-title">Philippe Diollot</h3>
						<h6 class="category text-primary">Créateur</h6>
						<p class="card-description">
							<b>Le chagrin, ce ver rongeur de la beauté.<br> <i>shakespeare</i></b>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contactus-1 section-image" style="background-image: url('https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2878&q=80')">
	<center>
		<div class="container">
			<h2 class="title">Nous contacter</h2>
			<div class="info info-horizontal">
				<div class="icon icon-primary">
					<i class="now-ui-icons location_pin"></i>
				</div>
				<div class="description">
					<h4 class="info-title">Où nous trouver ?</h4>
					<p><b>145 Cours Lafayette<br>69006 Lyon<br></b></p>
				</div>
			</div>
			<div class="info info-horizontal">
				<div class="icon icon-primary">
					<i class="now-ui-icons tech_mobile"></i>
				</div>
				<div class="description">
					<h4 class="info-title">Nous contacter</h4>
					<p><b>comptwil@gmail.com<br>+33 6 68 68 57 74 <br>Lun. - Vend., 8:00-22:00</b></p>
				</div>
			</div>
		</div>
	</center>
</div>
