
  <% if current_user %>
<div class="container">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">Autour de vous.. regardez </h2>

    <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pill1" role="tablist">
          All
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pill2" role="tablist">
          History
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pill3" role="tablist">
          Satire
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#pill4" role="tablist">
          Fiction
        </a>
      </li>
    </ul>


  </div>

  <% if @length_tab_book_copy==0 %>
    <h1>No  livres found</h1>
  <% end %>


  <% if @length_tab_book_copy>0 %>

  <div class="row">

      <div class="col-md-10 ml-auto mr-auto">
          <h2 class="title"></h2>

          <br>
          <div class="card card-plain card-blog">
              <div class="row">
                  <div class="col-md-5">
                      <div class="card-image">
                          <img class="img img-raised rounded" src=<%=@book_copy_array[0].photo_link%>>
                      </div>
                  </div>
                  <div class="col-md-7">
                      <h6 class="category text-info mt-3"><%=@book_copy_array[0].category%></h6>
                      <h3 class="card-title">
                          <a href="#pablo"><%=@book_copy_array[0].title%></a>
                      </h3>
                      <p class="card-description">
                        <%=@book_copy_array[0].description%><a href="#pablo"> Read More </a>
                      </p>
                      <p class="author">
                          by <a href="#pablo"><b><%=@book_copy_array[0].user.first_name%></b></a>, 2 days ago

                  </p></div>
              </div>
          </div>

          <div class="card card-plain card-blog">
              <div class="row">
                  <div class="col-md-7">
                      <h6 class="category text-danger">
                          <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i> <%=@book_copy_array[1].category%>
                      </h6>
                      <h3 class="card-title">
                          <a href="#pablo"><%=@book_copy_array[1].title%></a>
                      </h3>
                      <p class="card-description">
                        <%=@book_copy_array[1].description%>  <a href="#pablo"> Read More </a>
                      </p>
                      <p class="author">
                          by <a href="#pablo"><b><%=@book_copy_array[1].user.first_name%></b></a>, 5 days ago

                  </p></div>
                  <div class="col-md-5">
                      <div class="card-image">
                          <img class="img img-raised rounded
                          " src="assets/img/examples/card-blog6.jpg">
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </div>

  <div class="cd-section" id="testimonials">

    <div class="testimonials-2">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators2" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="1" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item justify-content-center active">
                                <div class="card card-testimonial card-plain">
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/james.jpg">
                                        </a>
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-description">"<%=@book_copy_array[2].description%>"
                                        </h5>
                                        <h3 class="card-title"><%=@book_copy_array[2].title%></h3>

                                        <div class="card-footer">
                                            <h6 class="category text-primary"><%=@book_copy_array[2].category%></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item justify-content-center">
                                <div class="card card-testimonial card-plain">
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/olivia.jpg">
                                        </a>
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-description">"<%=@book_copy_array[3].description%>"
                                        </h5>
                                        <h3 class="card-title"><%=@book_copy_array[3].title%></h3>

                                        <div class="card-footer">
                                            <h6 class="category text-primary"><%=@book_copy_array[3].category%></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
<% end %>

<div class="cd-section" id="testimonials">

    <div class="container">
        <div class="row">

            <div class="col-md-10 ml-auto mr-auto">

                <% if @length_tab_book_copy>3%>
                  <% n=4 %>
                <% else %>
                  <% n=0 %>
                <% end %>

                <%  for a in n..(@length_tab_book_copy-1) do %>
                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-image">
                                <img class="img img-raised rounded" src="assets/img/examples/card-blog10.jpg">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="card-title">
                                <a href="#pablo"><%=@book_copy_array[a].title%></a>
                            </h3>
                            <p class="card-description">
                               <%=@book_copy_array[a].description%> <a href="#pablo"> Read More </a>
                            </p>

								<div class="author">
								   <img src="assets/img/olivia.jpg" alt="..." class="avatar img-raised">
								   <span><%=@book_copy_array[a].user.first_name%></span>
								</div>

                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
  </div>

  <% end %>
