<% if @near_availabled_book_copies.any? %>
  <div class="jumbotron" style="background-image: url(<%= asset_path 'back_img3.jpg' %>); background-size: 100%; background-size: cover;">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <div class="container for-about">
        <%= image_tag("Artboard_1.png", height: "110") %>
      </div>
      <br>
    </div>
  </div>

	<%= render 'search_form' %>
	<%# <%= render 'big_search_form' %> %>
	<%= render 'category_selector' %>
 	<%= render 'home/recommendation', book_array: @near_availabled_book_copies %>
<% else %>
	<div class="row">
		<div class="col-md-8 ml-auto mr-auto text-center">
			<h2 class="title">Nous ne trouvons pas de livres autour de toi..</h2>
			<h5 class="description">Partage le site autour de toi ou modifie ton arrondissement</h5>
		</div>
		<div class="card card-background" style="background-image: url(<%= asset_path "back_img7.jpg" %>)">
			<div class="card-body">
				<div class="card-title"><h3>"Votre bibliothèque de quartier est vide"</h3></div>
				<div class="card-footer text-left">
					<div class="stats-link pull-right"><%= link_to "www.sharespeare.fr", root_path, class:"footer-link"%></div>
				</div>
			</div>
		</div>
	</div>
<% end %>
