<div class="header-2">
  <div class="page-header header-filter" id="hello_world">
      <div class="page-header-image" style="background-image: url(<%= asset_path 'back_img3.jpg' %>);filter: blur(2px);"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <%= image_tag("Artboard_1.png") %>
                  <h2 class="title">Empruntez, Lisez, Prêtez à Lyon</h2>
                  <h5 class="font-weight-normal">Trouvez votre prochaine lecture en fonction de vos goûts proche de chez vous.</h5>

                    <div class="card card-login card-plain">
                    <%= form_tag searchbar_index_path, method: :get do %>
                      <div class="form-group">
                        <%= text_field_tag :search1, params[:search1], placeholder: "Recherche un livre", class:'form-control text-dark', id:'search_bar' %>

                        <br>
                        <br/><%= button_tag "Rechercher", class: 'btn btn-primary btn-round btn-lg' %> <%= link_to "Faire un don", "https://paypal.me/pools/c/8lQxWDyKwS", method: :get, class: 'btn btn-default btn-round shopping_credit-card btn-lg'  %>

                        <br>
                        </div>

                    <% end %>



                    </div>
              </div>
          </div>
      </div>
  </div>
</div>


<br><br>

<% if current_user && @length_tab_book_copy>0 %>
<div class="col-md-8 ml-auto mr-auto text-center">
  <h2 class="title">Explorez, Découvrez dans votre quartier</h2>
  <h5 class="description">Trouvez un livre autour de chez vous..</h5>
  <br>
  <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
    <li class="nav-item">
        <%= link_to "Tout",  home_index_path(:category_selected => "All"), class: "nav-link", remote:true %>
    </li>
    <% if @dropD.length>4 %>
    <% 3.times { |i| %>
    <li class="nav-item">
      <%= link_to @dropD[i],  home_index_path(:category_selected => @dropD[i]), class: "nav-link", remote:true %>
    </li>
    <% } %>
    <li class="dropdown">
      <button class="btn btn-secondary btn-round dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0px; padding: 1.1em;">
        Autre
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% (@dropD.length-1-3).times { |i| %>
          <%= link_to @dropD[i+3],  home_index_path(:category_selected => @dropD[i+3]), class: "dropdown-item", remote:true %>
        <% } %>
      </div>
    </li>

  </ul>

</div>

<% end %>
<div id="reco">
  <%= render 'home/recommendation', book_array: @book_copy_array %>
</div>
<% end %>
<% if current_user && @length_tab_book_copy==0 %>
<div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Nous ne trouvons pas de livres autour de toi..</h2>
            <h5 class="description">Partage le site autour de toi ou modifie ton arrondissement</h5>
        </div>
<div class="card card-background" style="background-image: url('https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
          <div class="card-body">
            <div class="card-title">
              <h3>"Votre bibliothèque de quartier est vide"</h3>
            </div>
          <div class="card-footer text-left">

              <div class="stats-link pull-right">
                <%= link_to "sharespeare.herokuapp.com", root_path, class:"footer-link"%>
              </div>
            </div>
          </div>
</div>
</div>
<% end %>
<% if current_user%>
<% else %>


<div class="section section-about-us">
  <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
          <%= image_tag("logo.png", size: "70x70") %>
          <h2 class="title">shaRespeare vous permet de partager le plaisir de lire avec votre quartier. Prêtez, Empruntez, Rencontrez...</h2>

      </div>
  </div>
  <div class="projects-4">
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2906&q=80')">
              <div class="card-body">
                  <div class="card-title text-left">
                    <h1>1</h1>
                      <h2>

                              Je me connecte et j'ajoute mes livres sur shaRespeare

                      </h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion">
              <div class="card-title">

                      <h4>

                              Répertoriez vos livres dans votre bibliothèque en ligne, et partagez-les dans votre quartier en toute confiance grâce à notre plateforme.

                      </h4>

              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1561379982-c9f0e54ff067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')">

          </div>
      </div>

  </div>

  <div class="row">
      <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1525696349533-cfd38bf00f0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">

          </div>
      </div>

      <div class="col-md-3 px-0">
          <div class="card card-fashion arrow-left">
              <div class="card-title">
                  <h4>

                          Explorez les bibliothèques de votre quartier pour  emprunter votre nouveau livre préféré. Et prêtez les vôtres en toute sécurité !

                  </h4>
              </div>
          </div>
      </div>

      <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1476234251651-f353703a034d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80')">
              <div class="card-body">
                  <div class="card-title text-left">
                    <h1>2</h1>
                      <h2>
                          Je partage mes ouvrages avec mes proches du quartier
                      </h2>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
              <div class="card-body">
                  <div class="card-title text-left">
                    <h1>3</h1>
                      <h2>

                              Je peux gérer mes prêts et mes emprunts

                      </h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion">
              <div class="card-title">

                      <h4>

                            Ne cherchez plus où sont passés vos livres ! La section "Dashboard" vous permet de savoir à qui et quand vous avez prêté ce livre et même de le relancer par mail pour qu’il vous le rende.

                      </h4>

              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1459369510627-9efbee1e6051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">

          </div>
      </div>

  </div>
</div>
</div>
    <div class="container text-center">

      <h2>Nous fonctionnons vos dons</h2>
      <p><b>Nous souhaitons permettre au plus grand nombre de pouvoir découvrir de nouvelles lectures à travers notre communauté.
        Nous reversons une partie de vos dons à des associations comme Livre sans frontière ou Point Livres pour aider les plus démunies à accéder à la lecture.
        </b>
      </p>


      <!-- bouton don -->
      <div class="container">
        <div class="row justify-content-md-center">
          <%= link_to "Faire un don", new_home_path, method: :get, class: 'btn btn-primary btn-round btn-lg '  %>
        </div>
      </div>


    </div>
</div>


<br>
<br>
<br>
<br>

<div class="team-5 section-image" style="background-image: url('https://images.unsplash.com/photo-1509021436665-8f07dbf5bf1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Notre équipe</h2>
                <h4 class="description">Voici l'équipe de shakespeare</h4>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                      <%= image_tag("Arthur.jpg", class:"img img-raised") %>

                    </div>

                    <div class="card-body">
                        <h3 class="card-title">Arthur Wilbrod</h3>
                        <h6 class="category text-primary">CEO</h6>
                        <p class="card-description">
                            <b>L'amour ne voit pas avec les yeux, mais avec l'âme. shakespeare</b>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">

                            <%= image_tag("lucas.png", class:"img img-raised") %>


                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Lucas grd et Sacha Palayret</h4>
                        <h6 class="category text-primary">CTEs</h6>

                        <p class="card-description">
                            <b>La pensée d'une femme court toujours en avant de ses actes, Lucas shakespeare<br><br>
                            La femme est un mets digne des dieux, quand le diable ne l'assaisonne pas, Sacha shakespeare</b>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">

                          <%= image_tag("Flip.png", class:"img img-raised") %>


                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Flip Diollot</h4>
                        <h6 class="category text-primary">CTO</h6>

                        <p class="card-description">
                            <b>Le chagrin, ce ver rongeur de la beauté. shakespeare</b>
                        </p>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>


        <div class="contactus-1 section-image" style="background-image: url('https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2878&q=80')">
    <div class="container">
        <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
                <h2 class="title">Nous contacter</h2>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons location_pin"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Oû nous trouver ?</h4>
                        <p><b>145 Cours Lafayette<br>
                            69006 Lyon<br>
                            </b>
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons tech_mobile"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Nous contactez</h4>
                        <p><b>Arthur Wilbrod<br>
                            +33 6 62 321 762<br>
                            Lun. - Vend., 8:00-22:00
                            </b>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form role="form" id="contact-form" method="post">
                        <div class="card-header text-center">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 pr-2">
                                    <label>Prénom</label>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder=Prénom..." autocomplete="name">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-2">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                          </div>
                                          <input type="text" class="form-control" placeholder=Nom..." autocomplete="name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Adresse Email</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                  <input type="email" class="form-control" placeholder="Adresse Email..." autocomplete="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Votre message</label>
                                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
