
  <body>
    <div class="homepage_title">
      <%= image_tag("homepage/img3.jpg", :class => "homepage_img")%>
      <h1 class="homepage_title_1">
        Read, share, have fun
      </h1>

    </div>

    <!-- // SEARCH -->
    <center>
      <div class="col-md-5 ml-auto mr-auto">
        <div class="card card-login card-plain">
        <%= form_tag searchbar_index_path, method: :get do %>
          <div class="form-group">
            <%= text_field_tag :search1, params[:search1], placeholder: "Recherche", class:'form-control text-dark', id:'search_bar' %>
            <br><br>
            <%= text_field_tag :search2, params[:search2], placeholder: "Ville", class:'form-control text-dark', id:'search_bar' %>
            <%= button_tag "Rechercher", class: 'btn btn-primary btn-round' %>
          </div>
        <% end %>
        </div>
      </div>
    </center>
    <br><br>


    <br><br>

    <br>
    <br>

    <% if current_user && @length_tab_book_copy>0 %>

    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="title">Autour de vous.. regardez </h2>


      <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
        <li class="nav-item">

            <%= link_to "All",  home_index_path(:category_selected => "All"), class: "nav-link", remote:true %>

        </li>
        <% if @dropD.length>4 %>
        <% 3.times { |i| %>
        <li class="nav-item">
          <%= link_to @dropD[i],  home_index_path(:category_selected => @dropD[i]), class: "nav-link", remote:true %>
        </li>
        <% } %>
        <div class="dropdown">
          <button class="btn btn-secondary btn-round dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Autre
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% (@dropD.length-1-3).times { |i| %>
              <%= link_to @dropD[i+3],  home_index_path(:category_selected => @dropD[i+3]), class: "dropdown-item", remote:true %>
            <% } %>
          </div>
        </div>
      </ul>
    </div>
    <% end %>
    <% end %>


    <div id="reco">

      <%= render 'home/recommendation', book_array: @book_copy_array %>

    </div>


  </body>
</html>
