

<% if current_user && @length_tab_book_copy_all>0 %>

<div class="jumbotron" style="background-image: url(<%= asset_path 'back_img8.jpg' %>); background-size: 100%; background-size: cover;">
<div class="col-md-8 ml-auto mr-auto text-center">
   <div class="container for-about">
   <%= image_tag("Artboard_1.png", height: "110") %>
   </div>

   <br>
</div>

<div class="card card-login card-plain text-center">
<%= form_tag searchbar_index_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :search1, params[:search1], placeholder: "Rechercher un livre à Lyon", class:'form-control text-dark', id:'search_bar' %>
    <br>
    <br/><%= button_tag "Rechercher", class: 'btn btn-primary btn-round btn-lg' %> <%= link_to "Faire un don", "https://paypal.me/pools/c/8lQxWDyKwS", method: :get, class: 'btn btn-default btn-round shopping_credit-card btn-lg'  %>

    </div>

<% end %>


</div>

</div>

<div class="col-md-8 ml-auto mr-auto text-center">
  <h2 class="title"><small><%= link_to @zip_name,  edit_user_path(current_user.id) %></small><br>Explorez, Découvrez dans votre quartier</h2>
  <h4 class="description">Trouvez un livre autour de chez vous..</h4>
  <br>
  <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
    <li class="nav-item">
        <%= link_to "Mes Amis",  user_path(current_user.id), class: "nav-link", style: "color: orange;" %>
    </li>

    <li class="nav-item">
        <%= link_to "Tout genre",  home_index_path(:category_selected => "All"), class: "nav-link", remote:true %>
    </li>
    <% if @dropD.length>2 %>
    <% 3.times { |i| %>
    <li class="nav-item">
      <% a = rand(@dropD.length) %>
      <%= link_to @dropD[a],  home_index_path(:category_selected => @dropD[a]), class: "nav-link", remote:true %>
    </li>
    <% } %>
    <li class="dropdown">
      <button class="btn btn-secondary btn-round dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0px; padding: 1.1em;">
        Autre
      </button>
      <div class="dropdown-menu gugu" aria-labelledby="dropdownMenuButton">
        <% (@dropD.length).times { |i| %>
          <%= link_to @dropD[i],  home_index_path(:category_selected => @dropD[i]), class: "dropdown-item", remote:true %>
        <% } %>
      </div>
    </li>

  </ul>

</div>

<% end %>
<div id="reco">
  <%= render 'home/recommendation', book_array: @book_copy_array %>
</div>
<% end %>

<% if current_user && @length_tab_book_copy_all==0 %>
<div class="header-2">
  <div class="page-header header-filter" id="hello_world">
      <div class="page-header-image" style="background-image: url(<%= asset_path 'back_img3.jpg' %>);filter: blur(2px);"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <%= image_tag("Artboard_1.png") %>
                  <h2 class="title">Empruntez, Lisez, Prêtez à Lyon</h2>
                  <h5 class="font-weight-normal">Trouvez votre prochaine lecture en fonction de vos goûts proche de chez vous.</h5>

                    <div class="card card-login card-plain">
                    <%= form_tag searchbar_index_path, method: :get do %>
                      <div class="form-group">
                        <%= text_field_tag :search1, params[:search1], placeholder: "Recherche un livre", class:'form-control text-dark', id:'search_bar' %>

                        <br>
                        <br/><%= button_tag "Rechercher", class: 'btn btn-primary btn-round btn-lg' %> <%= link_to "Faire un don", "https://paypal.me/pools/c/8lQxWDyKwS", method: :get, class: 'btn btn-default btn-round shopping_credit-card btn-lg'  %>

                        <br>
                        </div>

                    <% end %>



                    </div>
              </div>
          </div>
      </div>
  </div>
</div>


<br><br>
<div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Nous ne trouvons pas de livres autour de toi..</h2>
            <h5 class="description">Partage le site autour de toi ou modifie ton arrondissement</h5>
        </div>
<div class="card card-background" style="background-image: url(<%= asset_path "back_img7.jpg" %>)">
          <div class="card-body">
            <div class="card-title">
              <h3>"Votre bibliothèque de quartier est vide"</h3>
            </div>
          <div class="card-footer text-left">

              <div class="stats-link pull-right">
                <%= link_to "sharespeare.herokuapp.com", root_path, class:"footer-link"%>
              </div>
            </div>
          </div>
</div>
</div>
<% end %>

<% if current_user%>
<% else %>
<div class="header-2">
  <div class="page-header header-filter" id="hello_world">
      <div class="page-header-image" style="background-image: url(<%= asset_path 'back_img3.jpg' %>);filter: blur(2px);"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <%= image_tag("Artboard_1.png") %>
                  <h2 class="title">Empruntez, Lisez, Prêtez à Lyon</h2>
                  <h5 class="font-weight-normal">Trouvez votre prochaine lecture en fonction de vos goûts proche de chez vous.</h5>

                    <div class="card card-login card-plain">
                    <%= form_tag searchbar_index_path, method: :get do %>
                      <div class="form-group">
                        <%= text_field_tag :search1, params[:search1], placeholder: "Recherche un livre", class:'form-control text-dark', id:'search_bar' %>

                        <br>
                        <br/><%= button_tag "Rechercher", class: 'btn btn-primary btn-round btn-lg' %> <%= link_to "Faire un don", "https://paypal.me/pools/c/8lQxWDyKwS", method: :get, class: 'btn btn-default btn-round shopping_credit-card btn-lg'  %>

                        <br>
                        </div>

                    <% end %>



                    </div>
              </div>
          </div>
      </div>
  </div>
</div>


<br><br>


<div class="section section-about-us">
  <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
          <%= image_tag("logo.png", size: "70x70") %>
          <h2 class="title">shaRespeare vous permet de partager le plaisir de lire avec votre quartier. Prêtez, Empruntez, Rencontrez...</h2>

      </div>
  </div>
  <div class="projects-4">
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url(<%= asset_path 'biblio.png' %>)">
              <div class="card-body">
                  <div class="card-title text-left">
                    <h1>1</h1>
                      <h2>

                            <b>Ajoutez</b> vos livres sur shaRespeare

                      </h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion">
              <div class="card-title">

                      <h4>

                              Répertoriez vos livres dans votre <b>bibliothèque en ligne</b>, et <b>partagez-les dans votre quartier</b> !

                      </h4>

              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1561379982-c9f0e54ff067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')">

          </div>
      </div>

  </div>

  <div class="row">
      <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1525696349533-cfd38bf00f0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">

          </div>
      </div>

      <div class="col-md-3 px-0">
          <div class="card card-fashion arrow-left">
              <div class="card-title">
                  <h4>

                          <b>Explorez nos recommendations</b> autour de chez vous, <b>choissisez votre genre</b> ou cherchez directement dans la barre de recherche !

                  </h4>
              </div>
          </div>
      </div>

      <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url(<%= asset_path 'reco.png' %>)">
              <div class="card-body">
                  <div class="card-title text-left">
                    <h1>2</h1>
                      <h2>
                        <b>Explorez</b> et Trouvez votre prochaine lecture autour de chez vous !

                      </h2>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
              <div class="card-body">
                  <div class="card-title text-left">
                    <h1>3</h1>
                      <h2>

                              <b>Rencontrez</b>, Echangez et Empruntez votre livre !

                      </h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion">
              <div class="card-title">

                      <h4>

                            Une <b>prise de contact simplifié</b> avec des lecteurs passionné. <b>À vous de vous rencontrer !</b>

                      </h4>

              </div>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1459369510627-9efbee1e6051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">

          </div>
      </div>

  </div>
  <div class="row">
      <div class="col-md-3 px-0">
          <div class="card card-fashion card-background" style="background-image: url('https://images.unsplash.com/photo-1525696349533-cfd38bf00f0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">

          </div>
      </div>

      <div class="col-md-3 px-0">
          <div class="card card-fashion arrow-left">
              <div class="card-title">
                  <h4>


                          Ne cherchez plus où sont passés vos livres ! La section <b>"Tableau de Bord"</b> vous permet de savoir à qui et quand vous avez prêté un livre. Nous vous <b>informerons par mail</b> de l'actualité de vos livres.

                  </h4>
              </div>
          </div>
      </div>

      <div class="col-md-6 px-0">
          <div class="card card-fashion card-background" style="background-image: url(<%= asset_path 'gerer.png' %>)">
              <div class="card-body">
                  <div class="card-title text-left">
                    <h1>4</h1>
                      <h2>
                          <b>Gérez</b> vos prêts et vos emprunts sans soucis
                      </h2>
                  </div>
              </div>
          </div>
      </div>
  </div


<br>
<br>
</div>
</div>
    <div class="container text-center">

      <h2> Nous fonctionnons grâce à vos dons</h2>
      <p><b><b>Sharespeare</b> c'est <b>100% gratuit</b> : Nous souhaitons permettre au plus grand nombre de pouvoir découvrir de nouvelles lectures à travers notre communauté.
      Mais nous devons supporter les <b>coûts de fonctionnements</b> (serveurs et services).<br><b>Merci pour votre participation :-)</b>

        </b>
      </p>


      <!-- bouton don -->
      <div class="container">
        <div class="row justify-content-md-center">
          <%= link_to "Faire un don", "https://paypal.me/pools/c/8lQxWDyKwS", method: :get, class: 'btn btn-default btn-round shopping_credit-card btn-lg'  %>
        </div>
      </div>


    </div>
    <br>
    <br>
    <br>
    <div class="container" >

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <%= image_tag("Arthur.jpg", class:"img img-raised") %>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="card-description">
                                The networking at Web Summit is like no other European tech conference.
                            </p>
                        </div>
                        <div class="icon icon-primary">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">Michael Elijah</h4>
                            <p class="category">@michaelelijah</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <%= image_tag("Arthur.jpg", class:"img img-raised") %>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="card-description">
                                The connections you make at Web Summit are unparalleled, we met users all over the world.
                            </p>
                        </div>
                        <div class="icon icon-primary">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">Olivia Harper</h4>
                            <p class="category">@oliviaharper</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <%= image_tag("Arthur.jpg", class:"img img-raised") %>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="card-description">
                                Web Summit will increase your appetite, your inspiration, and your network.
                            </p>
                        </div>
                        <div class="icon icon-primary">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">James Logan</h4>
                            <p class="category">@jameslogan</p>
                        </div>
                    </div>
                </div>

            </div>


    </div>
</div>



<br>
<br>


<div class="team-5 section-image" style="background-image: url('https://images.unsplash.com/photo-1509021436665-8f07dbf5bf1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Notre Équipe</h2>
                <h4 class="description">Voici l'équipe de shaRespeare</h4>
            </div>
        </div>
        <br>
        <br>

        <div class="row">

            <div class="col-md">
                <div class="card card-profile">
                    <div class="card-avatar">
                      <%= image_tag("Arthur.jpg", class:"img img-raised") %>

                    </div>

                    <div class="card-body">
                        <h3 class="card-title">Arthur Wilbrod</h3>
                        <h6 class="category text-primary">Créateur</h6>
                        <p class="card-description">
                            <b>L'amour ne voit pas avec les yeux, mais avec l'âme. <br> <i>shakespeare</i></b>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card card-profile">
                    <div class="card-avatar">

                          <%= image_tag("Flip.png", class:"img img-raised") %>


                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Flip Diollot</h4>
                        <h6 class="category text-primary">Créateur</h6>

                        <p class="card-description">
                            <b>Le chagrin, ce ver rongeur de la beauté.<br> <i>shakespeare</i></b>
                        </p>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>


        <div class="contactus-1 section-image" style="background-image: url('https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2878&q=80')">
          <center>


    <div class="container">


                <h2 class="title">Nous contacter</h2>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons location_pin"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Où nous trouver ?</h4>
                        <p><b>145 Cours Lafayette<br>
                            69006 Lyon<br>
                            </b>
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons tech_mobile"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Nous contactez</h4>
                        <p><b>
                            comptwil@gmail.com <br>
                            +33 6 68 68 57 74 <br>
                            Lun. - Vend., 8:00-22:00

                            </br>
                            </b>
                        </p>
                    </div>
                </div>



    </div>
    </center>
</div>
<% end %>
