<div class="header-2">
  <div class="page-header header-filter" id="hello_world">
      <div class="page-header-image" style="background-image: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">Empruntez, Lisez, Prêtez</h1>
                  <h5 class="description">Trouvez votre prochaine lecture proche de chez vous en fonction de vos goûts</h5>

                    <div class="card card-login card-plain">
                    <%= form_tag searchbar_index_path, method: :get do %>
                      <div class="form-group">
                        <%= text_field_tag :search1, params[:search1], placeholder: "Recherche", class:'form-control text-dark', id:'search_bar' %>
                        <br><br>
                        <%= text_field_tag :search2, params[:search2], placeholder: "Ville", class:'form-control text-dark', id:'search_bar' %>
                        <br>
                        <br/><%= button_tag "Rechercher", class: 'btn btn-primary btn-round' %>
                        <br>
                        </div>
                    <% end %>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <%= link_to new_home_path, method: :get, class: 'btn btn-primary btn-lg btn-round now-ui-icons shopping_credit-card' do %>
      <%= label_tag "Donner" %>
    <% end %>
  </div>
</div>

<br><br>

<% if current_user && @length_tab_book_copy>0 %>
<div class="col-md-8 ml-auto mr-auto text-center">
  <h2 class="title">Explorez, Découvrez dans votre quartier</h2>
  <h5 class="description">Trouvez un livre autour de chez vous..</h5>
  <br>
  <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
    <li class="nav-item">
        <%= link_to "Tout",  home_index_path(:category_selected => "All"), class: "nav-link", remote:true %>
    </li>
    <% if @dropD.length>4 %>
    <% 3.times { |i| %>
    <li class="nav-item">
      <%= link_to @dropD[i],  home_index_path(:category_selected => @dropD[i]), class: "nav-link", remote:true %>
    </li>
    <% } %>
    <li class="dropdown">
      <button class="btn btn-secondary btn-round dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0px; padding: 1.1em;">
        Autre
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% (@dropD.length-1-3).times { |i| %>
          <%= link_to @dropD[i+3],  home_index_path(:category_selected => @dropD[i+3]), class: "dropdown-item", remote:true %>
        <% } %>
      </div>
    </li>

  </ul>

</div>

<% end %>
<div id="reco">
  <%= render 'home/recommendation', book_array: @book_copy_array %>
</div>
<% end %>
<% if current_user && @length_tab_book_copy==0 %>
<div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Nous ne trouvons pas de livres autour de toi..</h2>
            <h5 class="description">Partage le site autour de toi ou modifie ton arrondissement</h5>
        </div>
<div class="card card-background" style="background-image: url('https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
          <div class="card-body">
            <div class="card-title">
              <h3>"Votre bibliothèque de quartier est vide"</h3>
            </div>
          <div class="card-footer text-left">

              <div class="stats-link pull-right">
                <%= link_to "sharespeare.com", rootpath, class:"footer-link"%>
              </div>
            </div>
          </div>
</div>
</div>
<% end %>
