<div class="row d-flex justify-content-center align-self-center">
    <div class="card text-center align-self-center" style="width: 20rem;">
        <div class="card-header mt-2">
            <div class="card-body">

                <%= form_tag home_index_path, method: :post do %>
                    <article>
                        <% if flash[:error].present? %>
                            <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                            </div>
                        <% end %>
                        <%= label_tag(:montant, 'Votre don:') %>
                        <div class="form-group mx-sm-3">
                            <%= text_field_tag(:montant, "", size: "24x6", class:"form-control") %>
                        </div>
                    </article>
                    <article>
                        <%= hidden_field_tag(:stripeToken) %>
                    </article>               
                
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="A month's subscription"
                            data-amount="<%=params[:montant]%>"
                            data-locale="auto"></script>
                <% end %>

            </div>
        </div>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>