<div class="card card-background" style="background-image: url('https://images.unsplash.com/photo-1517770413964-df8ca61194a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
  <div class="card-body">
    <div class="card-title">
      <h3>"Les seuls livres que j'ai dans ma bibliothèque sont des livres qu'on m'a prêtés..haha"</h3>
    </div>
    <div class="card-footer text-left">
      <div class="stats-link pull-right">
        <%= link_to "sharespeare.herokuapp.com", root_path, class: "footer-link" %>
      </div>
    </div>
  </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center my-auto">
                <%= image_tag(@book.photo_link, class: "img-fluid") %>
                <br>
                <br>
                <% if @book.status==0 %>
                  <span class="badge badge-warning">Emprenté</span>
                <% end %>
                <% if @book.status==1 %>
                  <span class="badge badge-success">Disponible</span>
                <% end %>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <h2 class="title"> <%= @book.title %> </h2>
                <h5 class="category"><%= @book.author %></h5>
                <h6 class="main-price"><%= @book.category %></h6>

                <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                  <div class="card card-plain">
                    <div class="card-header" role="tab" id="headingOne">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Description
                            <i class="now-ui-icons arrows-1_minimal-down"></i>
                        </a>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                      <div class="card-body">
                        <p><%= @book.description %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                <% if @book.user_id==current_user.id %>
                  <%= link_to "Supprimer", bookcopy_path(@book.id), method:"delete", class:"btn btn-primary"%>

                <% else %>
                <% if @book.status==1 %>
                  <%= link_to "Emprunter", new_bookcopy_borrow_path(@book.id), class:"btn btn-primary btn-round btn-lg"%>
                <% end %>
              <% end %>
              </div>
            </div>

        </div>
    </div>
</div>

---------------------------------------------------------------------------
<% @post_array.each do |post| %>

<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="media-area">

      <h3 class="title text-center"><small></small></h3>


      <div class="media">

        <%= link_to user_path(current_user.id) do %>
          <div class="avatar">     
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class:"img-fluid", style:"max-width: 200%;" %>
            <% else %>
              <%= image_tag("sharespeare1.png", class:"img-fluid") %>
            <% end %>    
          </div>
        <%end%>
        
        <div class="media-body">

          <h5 class="media-heading"> <%= post.user.first_name %> </h5>
          <p> <%= post.content %> </p>
          <div class="media-footer">
            <a href="#pablo" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
              <i class="now-ui-icons ui-1_send"></i> Reply
            </a>
            <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
              <i class="now-ui-icons ui-2_favourite-28"></i> 243
            </a>
          </div>

          <div class="media media-post">

            <%= link_to user_path(current_user.id) do %>
              <div class="avatar">     
                <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar, class:"img-fluid", style:"max-width: 200%;" %>
                <% else %>
                  <%= image_tag("sharespeare1.png", class:"img-fluid") %>
                <% end %>    
              </div>
            <%end%>

            <div class="media-body">
              <h5 class="media-heading">Tina Andrew <small class="text-muted">· 2 Days Ago</small></h5>
              <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
              <p> Don't forget, You're Awesome!</p>
              <div class="media-footer">
                <a href="#pablo" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                  <i class="now-ui-icons ui-1_send"></i> Reply
                </a>
                <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                  <i class="now-ui-icons ui-2_favourite-28"></i> 243
                </a>
              </div>
            </div>

          </div>

          <div class="media media-post">

            <%= link_to user_path(current_user.id) do %>
              <div class="avatar">     
                <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar, class:"img-fluid", style:"max-width: 200%;" %>
                <% else %>
                  <%= image_tag("sharespeare1.png", class:"img-fluid") %>
                <% end %>    
              </div>
            <%end%>

            <div class="media-body">
              <%= form_with scope: :post, url: bookcopy_posts_path(@book, @post), html: {class: "nifty_form"} do |f| %>
                <br>
                <%= f.text_area :content, size: "60x12", class: "form-control", placeholder: "Donne ton avis sur le livre" %>
                <br>
                <%= button_tag( :class => "btn btn-primary pull-right") do %>
                  Commenter <i class="now-ui-icons ui-1_send"></i>
                <% end %>
              <% end %>
            </div>

          </div>

        </div>  
      
      </div>
      
    </div>
  </div>
</div>
<% end %>
-------------------------------------------------------------------




--------------------------------------------------------------------------------------------------------------------
<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="media-area">
      <h3 class="title text-center"><small>Laisse un commentaire</small></h3>
      <div class="media">
        <%= link_to user_path(current_user.id) do %>

          <div class="avatar">     
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class:"img-fluid", style:"max-width: 200%;" %>
            <% else %>
              <%= image_tag("sharespeare1.png", class:"img-fluid") %>
            <% end %>    
          </div>
        <%end%>

        <div class="media-body">
          <h5 class="media-heading"> <%= @user.first_name %> </h5>
          <div class="media media-post">
            <div class="media-body">
              <%= form_with scope: :post, url: bookcopy_posts_path(@book, @post), html: {class: "nifty_form"} do |f| %>
                <br>
                <%= f.text_area :content, size: "60x12", class: "form-control", placeholder: "Donne ton avis sur le livre" %>
                <br>
                <%= button_tag( :class => "btn btn-primary pull-right") do %>
                  Commenter <i class="now-ui-icons ui-1_send"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
----------------------------------------------------------------------------------------------------------------