<h1></h1>
<div class="container">
  <div class="card card-pricing">
    <div class="card-body">
      <h6 class="category">Mes informations</h6>
      <br /><br />
      <div class="content-center">
        <div class="photo-container">
          <%if @user.avatar.attached?%>
          <img style="max-height: 100px;"
          <%= image_tag @user.avatar, alt: 'avatar' %>
          <%else%>
          <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
          <%end%>
        </div>
      </div>
      <br /><br />
      <%= form_tag user_avatars_path(@user), multipart: true do %>
        <%= file_field_tag :avatar , class: "btn btn-success btn-sm btn-round"%>
        <br />
        <%= submit_tag "mettre à jour" , class: "btn btn-success btn-sm btn-round"%>
      <% end %>

      <h3 class="card-title"><%= User.find(current_user.id).first_name %> <%= User.find(current_user.id).last_name %></h3>
      <center><div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
      <p class="card-description" style="background-color: black;">
        Email : <%= User.find(current_user.id).email %>
        <br>
        Numero : <%= User.find(current_user.id).phone %>
        <br>
        Description: <%= User.find(current_user.id).description %>
        <br>
        Adresse : <%= User.find(current_user.id).city %>
        <%= User.find(current_user.id).zip_code %> |
        <%= User.find(current_user.id).street_nb %>
        <%= User.find(current_user.id).street %>
      </p>
      </div>
      <div class="col-4">
      </div>
      </div></center>
      <br />
        <%= form_for(@user, url: user_path(@user.id), html: {method: "patch"}) do |f| %>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label 'Email' %><br>
            <%= f.email_field :email, class: "form-control"%>
          </div>
          <div class="form-group col-md-6">
            <%= f.label 'Password' %><br>
            <%= f.password_field :password, class: "form-control"%>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label 'Prenom' %><br>
            <%= f.text_field :first_name, class: "form-control"%>
          </div>
          <div class="form-group col-md-6">
            <%= f.label 'Nom' %><br>
            <%= f.text_field :last_name, class: "form-control"%>
          </div>

        </div>
        <div class="form-group">
          <%= f.label 'Description' %><br>
          <%= f.text_area :description, class: "form-control"%>

        </div>
        <div class="form-group col-md-12">
          <%= f.label 'Phone' %><br>
          <%= f.text_field :phone, class: "form-control"%>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label 'Ville' %>
            <%= f.select :city, options_for_select(
              [
                ['Paris'],
                ['Lyon'],
                ['Bordeaux'],

              ]),{}, { class: "form form-group form-control"} %>
          </div>
          <div class="form-group col-md-2">
            <%= f.label 'Code Postal' %><br>
            <%= f.number_field :zip_code, class: "form-control"%>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label 'Adresse' %><br>
            <%= f.text_field :street, class: "form-control"%>
          </div>
          <div class="form-group col-md-2">
            <%= f.label 'Numero de rue' %><br>
            <%= f.text_field :street_nb, class: "form-control"%>
          </div>
        </div>
        <a href="<%= edit_user_registration_path %>" class="btn btn-neutral">Modif password</a>
        <%= f.submit "Modifier les informations" , class: "btn btn-success"%>

        <% end %>
    </div>
  </div>
  <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="background-color:black;"><center><h6 style="color:white"> Votre Avatar</h6></center></div>
            </div>
            </div>
            <br>
  <center>
  <div class="content-center">
        <div class="photo-container">
          <%if @user.avatar.attached?%>
          <img style="max-height: 50px;"
          <%= image_tag @user.avatar, alt: 'avatar' %>
          <%else%>
          <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
          <%end%>
        </div>
      </div></center>
      <br />
            </div>
</div>
