<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" >
            <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') ;">
            </div>
            <div class="content-center">
                <div class="photo-container">
                  <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar, alt: 'avatar' %>
                  <% else %>
                    <img src="../assets/img/emilyz.jpg" alt="">
                  <% end %>
                </div>
                <h3 class="title"><%= @user.first_name%> <%= @user.last_name%></h3>
                <p class="category"><%= @user.city%></p>
                <div class="content">
                    <div class="social-description">
                        <h2><%= @user_library.count %></h2>
                        <p>Livres</p>
                    </div>
                    <div class="social-description">
                        <h2><%= @user.book_copy_not_available_tab.count %></h2>
                        <p>Prêts en cours</p>
                    </div>
                    <div class="social-description">
                        <h2><%= @user.book_I_borrow_tab.count + @user.book_I_borrow_recup_tab.count %></h2>
                        <p>Emprunts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container section">
          <center>
            <div class="container">
                <div class="button-container">

                    <% if current_user.id==@user.id %>
                      <%= link_to 'Ajouter des livres', new_bookcopy_path, class: "btn btn-primary btn-round btn-lg" %>
                      <%= link_to 'Modifier mes informations', edit_user_path(@user.id), class: "btn btn-default btn-round btn-lg" %>
                    <% else %>

                      <%= link_to 'Follow', user_path(@user.id), class: "btn btn-primary btn-round btn-lg btn-lg" %>

                    <% end %>
                    <%= link_to( user_path(@user.id), class: "btn btn-default btn-round btn-lg btn-icon") do %>
                    <i class="fa fa-twitter"></i>
                    <%end%>
                    <%= link_to( user_path(@user.id), class: "btn btn-default btn-round btn-lg btn-icon") do %>
                    <i class="fa fa-instagram"></i>
                    <%end%>

                </div>
                <h3 class="title">À propos de moi</h3>
                <h5 class="description text-center"><%= @user.description %></h5>
                  <div class="col-md-12">
                      <h4 class="title text-center">Ma bibliothèque</h4>
                      <% if current_user.id==@user.id %>
                      <div class="container section">
                        <%= link_to 'Ajouter des livres', new_bookcopy_path, class: "btn btn-default btn-round btn-lg" %>

                      </div>
                      <% end %>
                      <br>
                      <% @user_library.each do |book| %>
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <% if book.status==false %>
                            <span class="badge badge-warning">Emprenté</span>
                          <% end %>
                          <% if book.status==true %>
                            <span class="badge badge-success">Disponible</span>
                          <% end %>
                          <h4 class="card-title"><%= book.title %></h4>
                          <h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
                          <%= image_tag(book.photo_link) %>
                          <p class="card-text">Genre : <%= book.category %></p>
                          <a href="<%=bookcopy_path(book.id)%>" class="card-link">More details</a>

                        </div>
                      </div>
                      <% end %>

                  </div>

            </div>
            </center>
        </div>
    </div>
