<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" >
            <div class="page-header-image" data-parallax="true" style="background-image: url(<%= asset_path "back_img9.jpg" %>) ;">
            </div>
            <div class="content-center">
                <div class="photo-container">
                  <% if @user.avatar.attached? %>

                  <%= image_tag @user.avatar, class:"img-fluid", style:"max-width: 200%;" %>

                  <% else %>
                    <%= image_tag("sharespeare1.png", class:"img-fluid") %>
                  <% end %>
                </div>
                <h3 class="title"><%= @user.first_name%> <%= @user.last_name%></h3>
                <h7 class="category"> <%= @zip_name %></h7>
                <div class="content">
                    <div class="social-description">
                        <h2><%= @user_library.count %></h2>
                        <p>Livres</p>
                    </div>
                    <div class="social-description">
                        <h2><%= @user.book_copy_not_available_tab.count %></h2>
                        <p>Prêts en cours</p>
                    </div>
                    <div class="social-description">
                        <h2><%= @user.book_I_borrow_tab.count + @user.book_I_borrow_recup_tab.count %></h2>
                        <p>Emprunts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container section">
          <center>
            <div class="container">
                <div class="button-container">

                    <% if current_user.id==@user.id %>
                    <center>
                      <%= link_to 'Ajouter des livres', new_bookcopy_path, class: "btn btn-primary btn-round btn-lg" %>
                      <%= link_to 'Modifier mes informations', edit_user_path(@user.id), class: "btn btn-default btn-round btn-lg" %>
                      </center>
                    <% else %>
                      <% if @user_follow_query==nil %>
                      <%= link_to "Suivre",  user_follow_index_path(@user.id), :method=> :post, class: "btn btn-primary btn-round btn-lg"%>
                      <% else %>
                      <%= link_to "Ne plus suivre",  user_follow_path(current_user.id, @user_follow_query.id), :method=> :delete, class: "btn btn-primary btn-round btn-lg"%>
                      <%end%>
                    <%end%>

                </div>
                <h3 class="title">À propos de moi</h3>
                <h5 class="description text-center"><%= @user.description %></h5>
                <h3 class="title">Mes Amis</h3>
                <h4>
                ~
                <% @user_follow.each do |follow| %>
                  <% user =User.find(follow.follow_user_id)  %>
                  <%= link_to user.first_name, user_path(user.id) %>

                  ~
                <% end %>
                </h4>
                <% if current_user.id == @user.id %>
                <div class="card card-login card-plain text-center">
                <%= form_tag search_friend_index_path, method: :get do %>
                  <div class="form-group">
                    <%= text_field_tag :search1, params[:search1], placeholder: "Rechercher un(e) pote (pseudo)", class:'form-control text-dark', id:'search_bar', style:"font-size: 15px;width: 300px;" %>

                    <%= button_tag "Rechercher", class: 'btn btn-primary btn-round btn-lg' %>

                    </div>

                <% end %>
                </div>
                <% end %>
                  <div class="col-md-12">
                      <h3 class="title text-center">Ma bibliothèque</h3>
                      <% if current_user.id==@user.id %>
                      <div class="container section">
                        <%= link_to 'Ajouter des livres', new_bookcopy_path, class: "btn btn-default btn-round btn-lg" %>

                      </div>
                      <% end %>
                      <br>
                      <% @user_library.each do |book| %>
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <% if book.status==0 %>
                            <span class="badge badge-warning">Empreinté</span>
                          <% end %>
                          <% if book.status==1 %>
                            <span class="badge badge-success">Disponible</span>
                          <% end %>
                          <h4 class="card-title"><%= book.title %></h4>
                          <h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
                          <%= image_tag(book.photo_link) %>
                          <p class="card-text">Genre : <%= book.category %></p>
                          <%= link_to "Plus de détails", bookcopy_path(book.id), class:"card-link" %>
                        </div>
                      </div>
                      <% end %>
                  </div>
            </div>
            </center>
        </div>
    </div>
