<div class="my-auto" style= "background-image: url(<%= asset_path "back_img2.jpg" %>);background-size: cover; height: 100vh; ">
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Mot de passe oublié ?</h3>
        <center>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control gnark" %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions" ,class:"btn btn-primary btn-round"%>
            </div>
          <% end %>

          <%= render "users/shared/links" %>
        </center>





      </div>
  </div>


</div>
</div>
