<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="media-area">
      <h3 class="title text-center"><small>Laisse un commentaire</small></h3>
      <div class="media">
        <%= link_to user_path(current_user.id) do %>

          <div class="avatar">     
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class:"img-fluid", style:"max-width: 200%;" %>
            <% else %>
              <%= image_tag("sharespeare1.png", class:"img-fluid") %>
            <% end %>    
          </div>
        <%end%>

        <div class="media-body">
          <h5 class="media-heading"> <%= current_user.first_name %> </h5>
          <div class="media media-post">
            <div class="media-body">
              <%= form_with scope: :post, url: bookcopy_posts_path(@book), html: {class: "nifty_form"}, remote: true do |f| %>
                <br>
                <%= f.text_area :content, size: "60x12", class: "form-control", placeholder: "Donne ton avis sur le livre" %>
                <br>
                <%= button_tag( :class => "btn btn-primary pull-right") do %>
                  Commenter <i class="now-ui-icons ui-1_send"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>