<% flash.each do |type, message| %>
  <% if type == 'notice' %>
    <div class="alert alert-success" role="alert">
      <%= render 'layouts/flash_message', message: message %>
    </div>
  <% elsif type == 'alert' %>
    <div class="alert alert-danger" role="alert">
      <%= render 'layouts/flash_message', message: message %>
    </div>
  <% elsif type == 'error' %>
    <div class="alert alert-danger" role="alert">
      <%= render 'layouts/flash_message', message: message %>
    </div>
  <% elsif type == 'warning' %>
    <div class="alert alert-warning" role="alert">
      <%= render 'layouts/flash_message', message: message %>
    </div>
  <% else %>
    <div class="alert alert-info" role="alert">
      <%= render 'layouts/flash_message', message: message %>
    </div>
  <% end %>
<% end %>
