<!DOCTYPE html>
<html>
  <head>
    <title>shaRespeare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--     Fonts and icons     -->
    <link rel="shortcut icon" type="image/png" href=<%= asset_path "logo.png"%>/>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  </head>


  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flashborrow' %>
    <%= yield %>
  </body>
  <footer class="footer footer-default sticky-bottom ">

      <div class=" container ">
          <nav>
              <ul>
                  <li>
                          <%=link_to "Sharespeare", landing_page_index_path%>

                  </li>
                  <li>
                         <%=link_to "Nous contacter", landing_page_index_path%>

                  </li>
                  <li>
                         <%=link_to "Espace Admin", "http://localhost:3000/admin/login"%>
                  </li>
              </ul>
          </nav>
          <div class="copyright" id="copyright">
              ©2019, <%=link_to "Sharespeare", landing_page_index_path%> est Pensé et Codé avec le Coeur par Flip et Arthur à LYON
          </div>
      </div>
  </footer>
</html>
