<center>
<br>
<br>
<br>
<br>
	<h2>S'inscrire</h2>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  	<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'sign_up_form'%>
	  	</div>
			<p></p>

		<div class="field">
			<%= f.label :Votre_Arrondissement %><br />
			<%= f.select :zip_code, ["69001", "69002", "69003","69004","69005","69006","69007","69008","69009"] , autofocus: true, autocomplete: "quartier", class: 'form-control', id: 'sign_up_form'%>
		</div>
		<p></p>
		<div class="field">
			<%= f.label :Mot_de_passe %>
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> caractères minimum)</em>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id: 'sign_up_form'%>
		</div>
<p></p>
		<div class="field">
			<%= f.label :Confirmation_de_mot_de_passe %><br/>
			<%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: 'sign_up_form' %>
		</div>

		<div class="actions">
			<%= f.submit "Go !", class:"btn btn-primary btn-round"  %>
		</div>
	<% end %>

	<%= render "users/shared/links" %>
</center>




<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>
<script>
(function() {
  var placesAutocomplete = places({
    appId: "plFDMUATEQLD", //PUBLIC KEYS
    apiKey: "85d12aa1ef6eb5ab0c86b00d983e07d8", //PUBLIC KEYS
    container: document.querySelector('#user_zipcode'),
    templates: {
      value: function(suggestion) {
        return suggestion.postcode;
      }
    }
  }).configure({
    type: 'address'
  });

})();
</script>
