<div class="my-auto" style= "background-image: url(<%= asset_path "back_img8.jpg" %>);background-size: cover; height: 100vh;">
<center>
<div class="container">
<br>
<br>
<br>
<br>
<div class="row">
<div class="card col" style="width: 30rem; opacity: 0.95; ">
	<br>
	<h2>S'inscrire</h2>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>
			<div class="field">
				<%= f.label 'Prenom' %><br>
				<%= f.text_field :first_name, class: "form-control", id: 'sign_up_form'%>
			</div>
			<p></p>
	  	<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'sign_up_form'%>
	  	</div>
			<p></p>
		<div class="field">
			<%= f.label :arrondissement %><br />
			<%= f.select :zip_code, ["69001", "69002", "69003","69004","69005","69006","69007","69008","69009"] , autofocus: true, autocomplete: "quartier", class: 'form-control', id: 'sign_up_form'%>
		</div>
		<p></p>
		<div class="field">
			<%= f.label :Mot_de_passe %>
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> caractères minimum)</em>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id: 'sign_up_form'%>
		</div>
<p></p>
		<div class="field">
			<%= f.label :Confirmation_de_mot_de_passe %><br/>
			<%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: 'sign_up_form' %>
		</div>

		<div class="actions">
			<br>
			<%= f.submit "C'est parti !", class:"btn btn-primary btn-round"  %>
		</div>
	<% end %>

	<%= render "users/shared/links" %>
	<br>
	</div>
	<div class="col-1">

	</div>
	<div class="col">
		<center>
		<div class="card col" style="width: 30rem; opacity: 0.95; ">
			<br>
			<img class="card-img-top" src="https://image.flaticon.com/icons/svg/992/992702.svg" style="border-radius: 5%; width: 10em;">
			<br>
			<br>
						<h3>Nous nous développons sur <b>Lyon</b></h3>





			<ul>
				<li ><h5>Choissisez bien votre <b>arrondissement</b> pour avoir les meilleurs recommendations de Livres</h5></li>
	<br>
				<li > <h5>Entrez votre <b>email</b> pour avoir les alertes et notifications de contact</h5></li>
			</ul>
					<h4>Bon partage :-) </h4>




			<br>



	  </div>


			</center>

	</div>


		</div>
</div>
</center>





<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>
<script>
(function() {
  var placesAutocomplete = places({
    appId: "plFDMUATEQLD", //PUBLIC KEYS
    apiKey: "85d12aa1ef6eb5ab0c86b00d983e07d8", //PUBLIC KEYS
    container: document.querySelector('#user_zipcode'),
    templates: {
      value: function(suggestion) {
        return suggestion.postcode;
      }
    }
  }).configure({
    type: 'address'
  });

})();
</script>

</div>
